html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.BetCardContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 200px;
}

.BetCardP1 {
  color: red;
  background: blue;
  width: 50%;
  height: 100%;
}
.BetCardP2 {
  width: 50%;
  color: green;
  background: red;
  display: grid;
}

.BetCardP2 > div {
  margin-left: auto;
  margin-right: 0;
}
